.section {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section .section__constraint {
  max-width: 1350px;
  margin: auto;
}
@media (min-width: 768px) {
  .section {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10.5rem;
    padding-bottom: 10.5rem;
  }
}
